body {
    background-color: #121212;
    font-family: 'Courier New', Courier, monospace;
}


.calc {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 5em 10em 5em 10em;
}

/* .calc, .calc * { */
/*     outline: red solid 1px; */
/* } */

.echo-area, .prev-area {
    display: flex;
    min-height: 4em;
    margin: .2em;
    color: #f1f1f1;
    background-color: #181818;
}

.echo-area {
    border: darkred solid 2px;
}

.prev-area {
    border: darkorange solid 2px;
}

.keyboard {
    margin: .5em;
    padding: .1em;
    display: flex;
    flex-direction: row;
}

.num-keys {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 70%;
}

.key {
    box-shadow: #ffffff 20 20;
    padding: .2em;
}


numkey:hover {

}


.numkey {
    width: 33%;
    height: 5em;
    aspect-ratio: 1/1;
    background-color: #181818;
    color: #f1f1f1;
}
.funckey {
    width: 100%;
    height: 20%;
    background-color: #ff8c00;
    color: #121212
}
.func-keys {
    width: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
}
